html, body {
    margin: 0;
    padding: 0;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
    scroll-behavior: smooth;
}

app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}